<!--
  Created by: @pdonaire1
  Ing. Pablo Alejandro Gonzalez Donaire
-->
<ion-view view-title="MedicalBox" ng-controller="LoginCtrl" >
  <ion-content class="padding fondo">
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <h2><span class="medical-box">MedicalBox</span></h2>
      </div>
      <div class="col col-50 col-center">
        <ng-include src="'templates/login/_login_form.html'"></ng-include>
      </div>
    </div>
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <img src="/img/icons/hospital_big.png" width="100%" 
        style="max-width: 250px;" />
      </div>
      <div class="col col-50 col-center" id="" translate="INDEX.CONTENT.INFO">
      </div>
    </div>
    <p translate="INDEX.CONTENT.INFO_TWO">
    
    </p>
    <p translate="INDEX.CONTENT.INFO_THREE">
      
    </p>
    <div class="row">
      <div class="col col-50 col-center">
        <ul>
          <li class="medical-box" translate="INDEX.CONTENT.OPTION_ONE"></li>
          <li class="medical-box" translate="INDEX.CONTENT.OPTION_TWO"></li>
          <li class="medical-box" translate="INDEX.CONTENT.OPTION_THREE"></li>
          <li class="medical-box" translate="INDEX.CONTENT.OPTION_FOUR"></li>
        </ul>
      </div>
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/shield_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
    </div>
    <p><br />
      <span class="medical-box" translate="INDEX.CONTENT.INFO_FOUR"></span> 
      <br />
      </p>
    <div class="row">
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/medical_kit_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
      <div class="col col-50 col-center" >
        
        <p translate="INDEX.CONTENT.INFO_FIVE"></p>
      </div>
    </div>
    <div class="row">
      <div class="col col-25 col-center"><hr class="hyphen"></hr></div>
      <div class="col  col-50">
        <ng-include src="'templates/login/_login_form.html'"></ng-include>
      </div>
      <div class="col col-25 col-center"><hr class="hyphen"></hr></div>
    </div>
    <footer>
    <div class="row">
      <div class="col">
        <p>
          © Copyright Developed by
          <a href="dakonon.github.io" class="medical-box">Dakonon®</a>
        </p>
      </div>
    </div>
  </footer>

  </ion-content>
</ion-view>