<!--
  Created by: @pdonaire1
  Ing. Pablo Alejandro Gonzalez Donaire
-->
<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <h2><span class="medical-box">MedicalBox</span></h2>
      </div>
      <div class="col col-50 col-center">
        <a ng-href="signup" class="button button-block button-calm" ui-sref="signup" translate="dash.list.registro">
          
        </a>
        <a class="button button-block button-positive" >
          Entrar
        </a>
      </div>
    </div>
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <img src="/img/icons/hospital_big.png" width="100%" 
        style="max-width: 250px;" />
      </div>
      <div class="col col-50 col-center" id="">
        <span class="medical-box">MedicalBox</span> Busca el centro médico mas cercano, realiza tu cita, y listo!!!
        Una forma rápida de mantener la salúd.
      </div>
    </div>
    <p>
    Esta es la forma más fácil de hacer la busqueda de la clinica que necesites
    para hacer su chequeo médico regularmente. Además es completamente <span class="medical-box">Gratis!!</span>
    </p>
    <p>
      Solo necesitas registrarte como Paciente o Doctor (en el caso de que desees crear una clinica) y buscar en el mapa los centros clinicos mas cercanos 
      según su posición al hacer click en <img src="img/icons/chrome_map.png" width="27px" />.
    </p>
    <div class="row">
      <div class="col col-50 col-center">
        <ul>
          <li class="medical-box">· Encuentra.</li>
          <li class="medical-box">· Chatea.</li>
          <li class="medical-box">· Úbica.</li>
          <li class="medical-box">· Pida Su Cita Médica.</li>
        </ul>
      </div>
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/shield_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
    </div>
    <p><br /><span class="medical-box">Sencillo!</span> <br /></p>
    <div class="row">
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/medical_kit_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
      <div class="col col-50 col-center" >
        
        <p>
          Si necesita ayuda puede ver el <a href="" class="medical-box">manual de usuario</a> o dirigirse a solicitarnos ayuda en info@medicalbox.com y les responderemos a la brevedad.

        </p>
      </div>
    </div>
    <footer>
    <div class="row">
      <div class="col">
        <p>
          © Copyright Developed by
          <a href="dakonon.github.io" class="medical-box">Dakonon®</a>
        </p>
      </div>
    </div>
  </footer>

  </ion-content>
</ion-view>