<!--
  Created by: @pdonaire1
  Ing. Pablo Alejandro Gonzalez Donaire
-->
<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <h2><span class="medical-box">MedicalBox</span></h2>
      </div>
      <div class="col col-50 col-center">
        <div class="slide-to-left">
          <a ng-href="signup" class="button button-block button-calm" ui-sref="signup" translate="DASH.BUTTONS.SIGNUP" ></a>
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="nombre">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
          <a class="button button-block button-positive" 
            translate="DASH.BUTTONS.LOGIN" ></a>
        </div>
      </div>
    </div>
    <div class="row row-center" >
      <div class="col col-50 col-center">
        <img src="/img/icons/hospital_big.png" width="100%" 
        style="max-width: 250px;" />
      </div>
      <div class="col col-50 col-center" id="" translate="DASH.CONTENT.INFO">
      </div>
    </div>
    <p translate="DASH.CONTENT.INFO_TWO">
    
    </p>
    <p translate="DASH.CONTENT.INFO_THREE">
      
    </p>
    <div class="row">
      <div class="col col-50 col-center">
        <ul>
          <li class="medical-box" translate="DASH.CONTENT.OPTION_ONE"></li>
          <li class="medical-box" translate="DASH.CONTENT.OPTION_TWO"></li>
          <li class="medical-box" translate="DASH.CONTENT.OPTION_THREE"></li>
          <li class="medical-box" translate="DASH.CONTENT.OPTION_FOUR"></li>
        </ul>
      </div>
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/shield_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
    </div>
    <p><br />
      <span class="medical-box" translate="DASH.CONTENT.INFO_FOUR"></span> 
      <br />
      </p>
    <div class="row">
      <div class="col col-50 col-center">
        <center>
          <img src="img/icons/medical_kit_big.png" width="100%" style="max-width: 200px;"/>
        </center>
      </div>
      <div class="col col-50 col-center" >
        
        <p translate="DASH.CONTENT.INFO_FIVE"></p>
      </div>
    </div>
    <footer>
    <div class="row">
      <div class="col">
        <p>
          © Copyright Developed by
          <a href="dakonon.github.io" class="medical-box">Dakonon®</a>
        </p>
      </div>
    </div>
  </footer>

  </ion-content>
</ion-view>