<ion-view style="" title="MedicalBox" class=" " id="">
  <ion-content class="has-header" padding="true" >
    <div class="col">
        <div class="form-transparent padding">
            <div class="registo">
                <br>
                <label class="padding colorLabel" translate="REGISTER.first_name"></label>
                <div class="item-input-inset">
                     <label class="item-input-wrapper box_redondo">
                      <input type="text" placeholder="{{ 'REGISTER.first_name_place' | translate }}" ng-model="data.first_name">
                     </label>
                </div>
                <label class="padding colorLabel" translate="REGISTER.last_name"></label>
                <div class="item-input-inset">
                     <label class="item-input-wrapper box_redondo">
                      <input type="text" placeholder="{{ 'REGISTER.last_name_place' | translate }}" ng-model="data.last_name">
                     </label>
                </div>     
                <label class="padding colorLabel" translate="REGISTER.email"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
                      <input type="text" placeholder="{{ 'REGISTER.email_place' | translate }}" ng-model="data.email">
                    </label>
                </div>
                <label class="padding colorLabel" translate="REGISTER.pass"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
                      <input type="password" placeholder="{{ 'REGISTER.pass_place' | translate }}" ng-model="data.password">
                    </label>
                </div>
                <label class="padding colorLabel" translate="REGISTER.pass2"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
                      <input type="password" placeholder="{{ 'REGISTER.pass2_place' | translate }}" ng-model="data.password_repeat">
                    </label>
                </div>    
                <label class="padding colorLabel" translate="REGISTER.phone_number"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
                      <input type="text" placeholder="{{ 'REGISTER.phone_number_place' | translate }}" ng-model="data.phone_number">
                    </label>
                </div>  
                <label class="padding colorLabel" translate="REGISTER.address"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
                      <input type="text" placeholder="{{ 'REGISTER.address_place' | translate }}" ng-model="data.address">
                    </label>
                </div>     
                <label class="padding colorLabel" translate="REGISTER.user_type"></label>
                <div class="item-input-inset">
                    <label class="item-input-wrapper box_redondo">
			<ion-radio ng-model="data.user_type" ng-value="'Doctor'">{{ 'REGISTER.doctor' | translate }}</ion-radio>
			<ion-radio ng-model="data.user_type" ng-value="'Patient'">{{ 'REGISTER.patient' | translate }}</ion-radio>
                    </label>
                </div>  
                <div class="col col-80 col-offset-10">
                    <div class="item-input-inset">
                        <button class="button button-block button-calm normal-text-button boton_redondo" ng-click="send()">
                            Registrarse
                        </button>
                   </div>
                </div>
            </div>
        </div>          
      </div>
		       
    </ion-content>
</ion-view>

