<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<div ng-controller="LoginCtrl">
  <a ng-href="signup" class="button button-block button-calm slide-to-left-fast" 
    ui-sref="signup" translate="INDEX.BUTTONS.SIGNUP" ></a>

  <label class="item item-input slide-to-left-middle">
    <span class="input-label" for="username" translate="INDEX.INPUT.USERNAME"></span>
    <input type="text" id="username" ng-model="login.username" placeholder="Username">
  </label>

  <label class="item item-input slide-to-left-middle">
    <span class="input-label" translate="INDEX.INPUT.PASSWORD"></span>
    <input type="password" id="password" ng-model="login.password" 
      translate translate-attr-placeholder="INDEX.INPUT.PASSWORD">
  </label>

  <div class="slide-to-left-middle">
    <ion-checkbox ng-model="login.remember_me">
      <span class="little-text" translate="INDEX.INPUT.REMEMBER_ME"></span>
    </ion-checkbox>
  </div>

  <div class="slide-to-left-middle">
  <a href="" class="little-text" translate="INDEX.INPUT.FORGOT_PASSWORD"></a>

  <button class="button button-block button-positive slide-to-left-slow" 
    translate="INDEX.BUTTONS.LOGIN" ng-click="login()"></button>
  </div>
</div>