<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<ion-view style="" title="MedicalBox" class=" " id="" ng-controller="dashboadCtrl">
  <ion-content class="has-header text-center sweat-doctor-background-index" padding="true">

    <h2><span class="medical-box">MedicalBox</span></h2>
    <p>
      <span translate="INDEX.BUTTONS.SELECT_OPTION"></span>
    </p>
    <div class="card pointer" ui-sref="doctors-menu">
      <div ui-sref="doctor" class="item item-text-wrap doctor-backgorund" >
        <img src="/img/icons/doctor_button.png" /><br />
        <span class="medical-box" translate="DASHBOARD.DOCTOR"></span>
      </div>
    </div>
    <div class="card pointer" ui-sref="patient">
      <div class="item item-text-wrap patient-backgorund">
        <img src="/img/icons/patient_button.png" /><br />
        <span class="medical-box" translate="DASHBOARD.PATIENT"></span>
      </div>
    </div>        
  </ion-content>
</ion-view>