<ion-view style="" class=" " id="" >
  <ion-content class="has-header" padding="true">
         <div class="list" ng-controller="LoginCtrl">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="nombre">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
  <button class="button button-block button-calm">Submit</button>
</div>
		       
    </ion-content>
</ion-view>