<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<ion-view style="" title="MedicalBox" class=" " id="">
  <ion-content class="has-header text-center sweat-doctor-background-index" padding="true">
    <br />
    <div class="menu-screen-center">
      <div class="row" >
        <div class="col pointer" ui-sref="doctors.my-clinics">
          <div class="sweat-box-gray box-responsive">
            <img src="/img/icons/clinic.png" class="icon-button">
            <div translate="INDEX.BUTTONS.MY_CLINICS"></div>
          </div>
        </div>
        <div class="col pointer">
          <div class="sweat-box-gray box-responsive" ui-sref="doctors.doctor-clinics-create">
            <img src="/img/icons/pharmacy.png" class="icon-button">
            <div translate="INDEX.BUTTONS.CREATE_CLINIC"></div>
          </div>
        </div>
        <div class="col pointer">
          <div class="sweat-box-gray box-responsive">
            <img src="/img/icons/appointments.png" class="icon-button">
            <div translate="INDEX.BUTTONS.APPOINTMENTS"></div>
          </div>
        </div>
      </div>
      <br />
      <div class="row" >
        <div class="col pointer">
          <div class="sweat-box-gray box-responsive">
            <img src="/img/icons/expedient.png" class="icon-button">
            <div translate="INDEX.BUTTONS.PATIENTS"></div>
          </div>
        </div>
        <div class="col pointer" ui-sref="doctors.map">
          <div class="sweat-box-gray box-responsive">
            <img src="/img/icons/chrome_map.png" class="icon-button">
            <div translate="INDEX.BUTTONS.FIND_CLINIC"></div>
          </div>
        </div>
        <div class="col pointer">
          <div class="sweat-box-gray box-responsive">
            <img src="/img/icons/settings.png" class="icon-button">
            <div translate="INDEX.BUTTONS.SETTINGS"></div>
          </div>
        </div>
      </div>
    </div>

           
  </ion-content>
</ion-view>