<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<script src="js/doctors/clinicCreateControllers.js"></script>
<ion-view style="" title="MedicalBox" class=" " id="" ng-controller="ClinicCreateCrtl">
  <ion-content class="has-header text-center sweat-doctor-backgorund" padding="true">
    <br />
    <div class="row">
      <div class="col col-80 col-offset-10">
        <img src="/img/icons/pharmacy.png" class="icon-button">
        <div class="medical-box" translate="INDEX.BUTTONS.CREATE_CLINIC"></div>
        <br />
        <div class="list">
          <label class="item item-input">
            <span class="input-label" translate="INDEX.INPUT.NAME"></span>
            <input type="text" placeholder="{{ 'INDEX.INPUT.NAME' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label" translate="INDEX.INPUT.COUNTRY"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.COUNTRY' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label" translate="INDEX.INPUT.CITY"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.CITY' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label" translate="INDEX.INPUT.ADDRESS"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.ADDRESS' | translate }}">
          </label>

          <label class="item item-input">
            <span class="input-label not-required" translate="INDEX.INPUT.ZIP_CODE"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.ZIP_CODE' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label not-required" translate="INDEX.INPUT.LATITUDE"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.LATITUDE' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label not-required" translate="INDEX.INPUT.LONGITUDE"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.LONGITUDE' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label not-required" translate="INDEX.INPUT.PHONE_ONE"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.PHONE_ONE' | translate }}">
          </label>
          <label class="item item-input">
            <span class="input-label not-required" translate="INDEX.INPUT.PHONE_TWO"></span>
            <input type="password" placeholder="{{ 'INDEX.INPUT.PHONE_TWO' | translate }}">
          </label>
        </div>
        <button class="button button-block button-balanced">
          <span translate="INDEX.BUTTONS.CREATE"></span>
        </button>
      </div>
    </div>


           
  </ion-content>
</ion-view>