<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<ion-view style="" title="MedicalBox" class=" " id="" >
  <ion-content class="has-header text-center sweat-doctor-backgorund" padding="true">
    <br />
    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="list">
          <a class="item item-thumbnail-left" href="#" ng-repeat="i in [1,2,3]">
            <img src="/img/icons/clinic.png">
            <h2>My clinic {{i}} - Clinica Santa Fé</h2>
            <p>Santa Ana Norte, Pasaje Táchira</p>
          </a>
        </div>
        
      </div>
    </div>


           
  </ion-content>
</ion-view>