<!--*******************************************
    *   Created by: @pdonaire1                *
    *   Ing. Pablo Alejandro Gonzalez Donaire *
    *******************************************-->
<ion-view title="MedicalBox">
  <ion-content class="has-header text-center sweat-doctor-background-index" padding="true" ng-controller="myClinicCrtl">
    <ion-refresher
         pulling-text="Deslicé hacia abajo..."
         on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="list list-medical">
          <a class="item item-thumbnail-left" ui-sref="doctors.clinicDetail({id:dato.id})" ng-repeat="dato in data">
            <img src="/img/icons/clinic.png">
            <h2>{{dato.name}} {{i}} - {{dato.phone_one}}</h2>
            <p>{{dato.city.display_name}}</p>
          </a>
        </div>
        
      </div>
    </div>  
    <ion-infinite-scroll ng-if="canShowMore"        
         on-infinite="loadMore()"
         distance="1%">
    </ion-infinite-scroll>  
  </ion-content>
</ion-view>