.sweat-box-gray {
  background: linear-gradient(rgba(19, 88, 94, 0.29), rgba(30, 17, 17, 0.72));
  width: 80%;
  max-width: 266px;
  height: 202px;
  color: #fafafa;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  border-radius: 11%;
  padding: 20px;
  margin: 0 auto;
  align-content: center;
}
@media (max-width: 720px) {
  .sweat-box-gray {
    padding: 0px;
    width: 95%;
    height: 100%;
    font-size: 90%;
  }
}
@media (max-width: 450px) {
  .sweat-box-gray {
    padding: 0px;
    width: 100%;
    font-size: 85%;
  }
}
@media (max-width: 280px) {
  .sweat-box-gray {
    padding: 0px;
    width: 112%;
    margin: -10% auto;
    font-size: 63%;
    height: 109%;
  }
}
@media (max-height: 450px) and (max-width: 280px) {
  .menu-screen-center {
    position: absolute;
    top: 14%;
    left: -3%;
  }
}