/*
 *************************************
 *            MAIN CSS               *
 *************************************
*/
body{
  font-family: 'Open Sans' !important;
  color: #636262;
}
footer {
    background-color: #DDD;
    width: 2000px; 
    padding: 10px;
    left: -2.5%;
    position: absolute;
    font-size: 75%;
}

.medical-box {
  color: rgba(43, 155, 191, 0.66);
  font-weight: bold;
  font-family: 'Droid Serif', serif;
  /*font-size: 100%;*/
}

hr.hyphen{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.little-text{
  font-size: 70% !important;
}
/********************
 ***** EFFECTS ******
********************/
.slide-to-left-slow {
  animation-duration: 3s;
  animation-name: slidein;
}
.slide-to-left-middle {
  animation-duration: 2s;
  animation-name: slidein;
}
.slide-to-left-fast {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
